.Input{
    border-radius:2rem;
    background-color: transparent;
    border-color: #CD12D2;
    width: 80%;
    
}

.Button{
    border-radius:2rem;
    background-color: transparent;
    border-color: #CD12D2;
}